@import-normalize; /* bring in normalize.css styles */

body {
  background: linear-gradient(to bottom, #2d4692, #b4c30b);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  margin: 0;
  overflow: hidden;

  color: antiquewhite;
}